.carousel-dots {
  display: block;
  width: 100%;
  padding: 0;
  position: relative;
  top: -4rem;
  z-index: 10;
  list-style: none;
  text-align: center;
  margin-bottom: 200px;
}

.carousel-initialized {
  overflow: hidden;
  position: relative;
}

.carousel-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}

.carousel-dots li button:before {
  font-family: 'slick';
  font-size: 38px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  content: '•';

  opacity: 0.25;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-dots li.carousel-dots-active button:before {
  opacity: 0.75;
  color: white;
}
