@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Koulen', sans-serif;
}

body {
  background-image: url(./assets/images/hero-bg.png);
}

svg {
  font-family: 'Koulen', sans-serif;
}
svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: url(#paint0_linear_3_14);
}
@keyframes stroke {
  0% {
    fill: transparent;
    stroke: url(#paint0_linear_3_14);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 3;
  }
  70% {
    fill: transparent;
    stroke: url(#paint0_linear_3_14);
  }
  80% {
    fill: transparent;
    stroke: url(#paint0_linear_3_14);
    stroke-width: 3;
  }
  100% {
    fill: transparent;
    stroke: url(#paint0_linear_3_14);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 3;
  }
}

@layer components {
  .navButton {
    @apply text-black font-bold font-koulen text-2xl dark:text-white cursor-pointer;
  }
}

.carousel-item {
  @apply px-[1.25rem] sm:px-[1.5rem] md:px-[2rem] lg:px-[4.5rem] opacity-0 transition-opacity duration-[1s] delay-100 ease-in-out !important;
}

.active {
  @apply opacity-100  !important;
}

.carousel-dots {
  @apply block w-full p-0 relative top-[-4rem] z-10 list-none text-center !important;
}

.carousel-initialized {
  @apply overflow-hidden relative !important;
}

.carousel-dots li {
  @apply relative inline-block w-5 h-5 mx-1 p-0  cursor-pointer !important;
}

.carousel-dots li button:before {
  @apply font-bold text-2xl absolute top-0 left-0 !important;
}

.carousel-dots li button:before {
  @apply text-[38px] leading-5 absolute top-0 left-0 content-['•'] opacity-25 text-white !important;
}

.carousel-dots li.carousel-dots-active button:before {
  @apply opacity-75 text-white !important;
}
